<header>
  <mat-toolbar>
    <span>Gestion Contact</span>
  </mat-toolbar>
</header>

<div class="main">
  <div class="contact-list">
    <app-contact-list></app-contact-list>

    <!-- <li class="list-group-item" *ngFor="let contact of contacts">
      <div class="nameContact">
        <h3>{{contact.firstName}}</h3>
      </div>
    </li> -->

    <app-new-contact></app-new-contact>
  </div>

  <div class="contact-detail">

    <!-- <app-contact-detail [contact]="ContactDetail">

    </app-contact-detail> -->

  </div>

</div>
